body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Light background */
    color: #343a40; /* Dark text */
    margin: 0;
    padding: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav .btn {
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

nav .btn:hover {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.login-button {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

h2, h4 {
    margin-bottom: 0.5rem; /* Adjusts the space below the headings */
}